:root {
    /* Fonts */
    --fs_title_md: 2em;
    --fs_sub_title_md: 1.8em;
    --fs_header_md: 1.5em;
    --fs_paragraph_md: 1.3em;
    --fs_list_md: 1.1em;

    --fw-bold: 900;
    --fw-medium: 600;
    --fw-thin: 300;
}

@media screen and (min-width: 480px) {
    /* Global */
    .paragraph {
        font-size: var(--fs_paragraph_md);
    }

  /*   .site_container {
        position: relative;
        overflow: hidden;
    }

    .svg_graphic {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -1;
        top: 5%;
        right: 20%;
    }

    .svg_graphic img {
        width: 180%;
    } */

    /* Navbar */
    .nav_link_container {
        width: 380px;
    }
    
    /* Header */
    .description_paragraph {
        margin-right: 12em;
    }

    .salute {
        font-size: var(--fs_header_md);
    }
    
    .name {
        font-size: var(--fs_title_md);
    }

    .description {
        font-weight: var(--fw-thin_md);
        font-size: var(--fs_sub_title_md);
    }

    .contact_me {
        text-align: left;
    }

    .follow {
        font-size: var(--fs_list_md);
    }

    /* About Me */

    .ul_container {
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .list {
        padding: 0;
    }

    .profile_picture_container {
        max-width: 90%;
    }

    .profile_picture {
        max-width: 300px;
    }




    /* Skills */
    .built_container {

    }

    .aside {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 100px;
        right: 0;
        z-index: -2;
        opacity: .3;
    }

    .aside img {
        width: 300px;
        height: 300px;
    }
}

