:root {
    /* Colors */
    --primary_clr: #0A192F;
    --secondary_clr: #CB2376;
    --title_clr: #CCD6F6;
    --text_clr: #828DAA;
    --link_clr: #FF7124;
    --link_clr_light: #122E3F;
    --navy_shadow: #020c1bb3;
    --tempting-color: #2054a3;
    
    /* Fonts */
    --fs_title_md: 2em;
    --fs_sub_title_md: 1.8em;
    --fs_header_md: 1.5em;
    --fs_paragraph_md: 1.3em;
    --fs_list_md: 1.1em;

    --fw-bold: 900;
    --fw-medium: 600;
    --fw-thin: 300;
}

@media screen and (min-width: 480px) {
    /* Global */
    .section {
        margin: 4em;
    }
    .paragraph {
        font-size: var(--fs_paragraph_md);
    }

    /* Navbar */
    .navbar {
        height: 90px;
    }

    .logo img{
        width: 100px;
    }

    .nav_link_container {
        width: 380px;
    }

    .nav_links {
        font-size: var(--fs_list_md);
    }
    
    /* Header */
    .hero_container {
        margin: 0 4em;
    }

    .description_paragraph {
        margin-right: 12em;
    }

    .salute {
        font-size: var(--fs_header_md);
    }
    
    .name {
        font-size: var(--fs_title_md);
    }

    .description {
        font-weight: var(--fw-thin_md);
        font-size: var(--fs_sub_title_md);
    }

    .contact_me {
        text-align: left;
    }

    .follow {
        font-size: var(--fs_list_md);
    }

    /* About Me */
    .ul_container {
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .ul_container div{
        flex-basis: 30%;
    }

    .list {
        padding: 0;
    }

    .profile_picture {
        max-width: 300px;
        max-width: 50%;
    }

    /* Skills */
    .aside {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 100px;
        right: 0;
        z-index: -2;
        opacity: .3;
    }

    .aside img {
        width: 300px;
        height: 300px;
    }
}

