@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --primary_clr: #071222;
    --secondary_clr: #8E5362;
    --title_clr: #CCD6F6;
    --text_clr: #828DAA;
    --link_clr: #FFA565;
    --link_clr_light: #122E3F;
    --navy_shadow: #020c1bb3;
    --tempting-color: #2054a3;
    
    /* Fonts */
    --fs_title: 1.7em;
    --fs_sub_title: 1.5em;
    --fs_header: 1.2em;
    --fs_paragraph: 1em;
    --fs_list: .8em;

    --fw-bold: 900;
    --fw-medium: 600;
    --fw-thin: 300;

}

body {
    font-family: 'open-sans', sans-serif;;
}

/* GLOBAL */
.link {
    color: var(--link_clr);
    text-decoration: none;
    cursor: pointer;
}

.title {
    color: var(--title_clr);
}

.list {
    list-style: url("../assets/list_styling.svg");
    padding: 1em;
}


.title_border {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3em;
}


.section_title {
    font-size: var(--fs_sub_title);
}

.paragraph {
    color: var(--text_clr);
    font-size: var(--fs_paragraph);
}

.underlined {
    text-decoration: underline;
}

.section_border {
    border-bottom: 1px solid var(--text_clr);
    flex-grow: 1;
    margin-left: 1em;
    align-self: self-end;
}

.margin_botton {
    margin-top: 1em;
    margin-bottom: 1em;
}

.skill_title {
    color: white;
}

/* Decor Headear*/

.svg_graphic {
    background-image: url(../assets/sections/svg_graphic_1.svg);
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -3;
}

/* NAVBAR */
.navbar {
    background-color: var(--tempting-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all .6s cubic-bezier(0.65,0.05,0.36,1);
}

.logo {
    display: flex;
    align-items: center;
    margin: 0 3em;
    font-size: .7em;
    
}
.logo img {
    width: 60px;
    height: 60px;
}
.logo a:nth-child(2) {
    color: var(--title_clr);
    margin-left: .6em;
    letter-spacing: 1px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin: 1em 3em;
    height: 20px;
    width: 25px;
    z-index: 99;
}
.ham_line {
    width: 22px;
    height: 2px;
    background-color: var(--link_clr);
}
.ham_line::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 2px;
    background-color: var(--link_clr);
}
.ham_line::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18px;
    height: 2px;
    background-color: var(--link_clr);
}
.close_line {
    display: none;
    width: 25px;
    height: 2px ;
    background-color: var(--link_clr);
    border-radius: 2px;
    transform: rotate(50deg);
    position: relative;
}
.close_line::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px ;
    background-color: var(--link_clr);
    border-radius: 2px;
    transform: rotate(80deg);
}

.nav_link_container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -2px 2px 10px var(--navy_shadow);
    background-color: #112240;
    width: 80%;
    height: 100vh;
    transition: display 1s ease-out;
}

.nav_links {
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    color: var(--link_clr);
    text-align: center;
    height: 100vh;
}
.nav_link li {
    padding: 2em;
    margin: 1em 0;
    font-size: var(--fs_subtitle);
}
.nav_link li:hover {
    background-color: var(--link_clr_light);
    transition: all .5s;
}


/* HEADER */
.site_container {
    position: relative;
    overflow: hidden;
}

.hero_container {
    margin: 0em 2em 0 2em;
    height: 100vh;
}

.description_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.salute {
    color: var(--link_clr);
    font-size: var(--fs_header);
    margin-top: 6em;
}
.name {
    display: block;
    color: var(--title_clr);
    font-size: var(--fs_title);
    font-weight: var(--fw-bold);
}
.description {
    font-size: var(--fs_sub_title);
}

.profile_picture_container {
    text-align: left;
    border: 0 3px 3px 0 solid var(--link_clr);
    margin-top: 2em;
}
.profile_picture{
    max-width: 60%;
    border-radius: 40% 80% 50% 30%;
    transition: all 1s;
}
.profile_picture:hover {
    filter: none;
}

.social_icon {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 1em 2em;
    text-align: left;
}
.social_icon a {
    padding: .5em;

}
.social_icon i {
    color: var(--link_clr);
    border: 1px solid var(--link_clr);
    border-radius: 100%;
    padding: .3em;
}
.social_icon:nth-child(2n) i {
    color: var(--link_clr);
    border: 1px solid var(--link_clr);
    border-radius: 100%;
    padding: .3em;
}

.cta {
    position: relative;
    text-align: center;

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.cta button {
    background-color: #2054A3;
    border: 1px solid #2054A3;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    transition: all .6s ease;
    cursor: pointer;
    color: var(--title_clr);
}
.cta button:hover {
    background-color: var(--link_clr);
    color: var(--primary_clr);
}

.cta .cta_mouse {
    flex-basis: 20%;
    justify-self: flex-end;
    width: 100px;
    height: 100px;
    padding-top: 2em;
    transition: opacity .6s ease-out;
}

.cta #cta_move {
    animation: cta 1s ease alternate infinite;
}

@keyframes cta {
    from {
        transform: translateY(10%);
    }

    to {
        transform: translateY(18%);
    }
}

/* WEB CONTENT */
.content_container {
    margin: 0 2em;
}

.about_me__paragraph {
    font-size: var(--fs_paragraph);
}

.ul_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: var(--fs_sub_title);
    color: var(--text_clr);
    text-align: center;
}

.ul_container div{
    padding: 1em;
}
.ul_container div{
    flex-basis: 20%;
}

/* Skills */
.cards_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_container {
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 2em;
}

.card__project_1 {
    background-image: url(../assets/projects/project1.2.png);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.card__project_2 {
    background-image: url(../assets/projects/project2.png);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.card__project_3 {
    background-image: url(../assets/projects/project3.png);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.card__project_4 {
    background-image: url(../assets/projects/project4.png);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.card__filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #071222;
    z-index: 4;
}

.card_container:hover .card__filter{
    opacity: 0;
}

.card_container .card{
    position: absolute;
    color: var(--primary_clr);
    z-index: 6;
}

/* Interests */
/* .hobbies_container {
    background-image: url(../assets/sections/svg_graphic_2.svg);
    background-size: cover;
    background-position: center;
}
 */
.ul_container:nth-child(3n) div {
    flex-basis: 50%;
}

/* Footer */
.footer {
    background-color: rgba(0,0,0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6em;
}

.footer p {
    font-size: .8em;
}